@import "variables";
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $third;
}
nav {
    background-color: $primary;
}
* {
    color: $fifth;
}